<a href="https://colab.research.google.com/github/kardocode/Begginer/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [144]:
import pandas as pd

In [145]:
ride_sharing = pd.read_csv('https://raw.githubusercontent.com/pradhrahul/Data-Science-Visualization/refs/heads/main/ride_sharing_clean.csv')

In [146]:
ride_sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ride_id          25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
 10  tire_sizes       25760 non-null  int64
 11  ride_dt          25760 non-null  object
dtypes: int64(7), object(5)
memory usage: 2.4+ MB

In [147]:
ride_sharing.head()

,ride_id,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_sizes,ride_dt
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,27,2020-01-19
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,26,2018-10-24
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,26,2017-12-25
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,29,2026-10-14
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27,2019-01-29

In [148]:
ride_sharing['user_type'] = ride_sharing['user_type'].astype(int)
ride_sharing['user_type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 25760 entries, 0 to 25759
Series name: user_type
Non-Null Count  Dtype
--------------  -----
25760 non-null  int64
dtypes: int64(1)
memory usage: 201.4 KB

In [149]:
ride_sharing['user_type'].describe()

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

In [150]:
ride_sharing['user_type'].astype('category')

0        2
1        2
2        3
3        1
4        2
        ..
25755    1
25756    2
25757    2
25758    2
25759    3
Name: user_type, Length: 25760, dtype: category
Categories (3, int64): [1, 2, 3]

In [151]:
ride_sharing['duration'].dtype

dtype('O')

In [152]:
duration_trim = ride_sharing['duration'].str.strip("minutes")

In [153]:
ride_sharing['duration'] = duration_trim.astype('int')

In [154]:
my_dict = {1:"for free ride",2:"for pay ride",3:"for monthly subscribe"}

In [155]:
ride_sharing["new_user_type"] = ride_sharing['user_type'].map(my_dict)

In [156]:
ride_sharing['new_user_type'].describe()

count            25760
unique               3
top       for pay ride
freq             12972
Name: new_user_type, dtype: object

In [157]:
ride_sharing['duration'].mean()

np.float64(11.389052795031056)

In [158]:
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype(int)

In [159]:
ride_sharing['tire_sizes'].dtype

dtype('int64')

In [160]:
ride_sharing['tire_sizes'].head()

0    27
1    26
2    26
3    29
4    27
Name: tire_sizes, dtype: int64

In [161]:
#Use .loc[] to set all values of tire_sizes above 27 to 27.
ride_sharing["tire_sizes"] = ride_sharing["tire_sizes"].astype(int)
ride_sharing.loc[ride_sharing["tire_sizes"] > 27, "tire_sizes"] = 27

In [162]:
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')
ride_sharing['tire_sizes'].describe()

count     25760
unique        2
top          27
freq      13274
Name: tire_sizes, dtype: int64

In [163]:
ride_sharing["ride_dt"] = pd.to_datetime(ride_sharing["ride_dt"]).dt.date

In [164]:
from datetime import date
today = date.today()
print(today)

2025-11-23

In [165]:

ride_sharing.loc[ride_sharing["ride_dt"] > today, "ride_dt"] = today

ride_sharing['ride_dt'].describe()

count          25760
unique          1146
top       2025-11-23
freq            5534
Name: ride_dt, dtype: object

In [166]:
ride_sharing['ride_dt'].max()

datetime.date(2025, 11, 23)

In [167]:
#Find duplicated rows of ride_id in the ride_sharing DataFrame while setting keep to False.
dupes = ride_sharing.duplicated(subset = 'ride_id', keep = False)
print(duplicates)

0        False
1        False
2        False
3        False
4        False
         ...
25755    False
25756    False
25757    False
25758    False
25759    False
Length: 25760, dtype: bool

In [169]:
duplicated_rides = dupes.sort_values()

In [171]:
#Create the statistics dictionary which holds minimum aggregation for user_birth_year and mean aggregation for duration.
statistics = {'user_birth_year': 'min', 'duration': 'mean'}

In [173]:
#Drop incomplete duplicates by grouping by ride_id and applying the aggregation in statistics.
ride_unique = ride_sharing.groupby('ride_id').agg(statistics).reset_index()
ride_unique

       ride_id  user_birth_year  duration
0            0             1959      12.0
1            1             1965      24.0
2            2             1993       8.0
3            3             1979       4.0
4            4             1994      11.0
...        ...              ...       ...
25738    25756             2000      11.0
25739    25757             1998      10.0
25740    25758             1995      14.0
25741    25759             1995      14.0
25742    25760             1990      29.0

[25743 rows x 3 columns]

In [175]:
#Find duplicates again and run the assert statement to verify de-duplication.
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]