<a href="https://colab.research.google.com/github/kardocode/Begginer/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
ride_sharing = pd.read_csv('https://raw.githubusercontent.com/pradhrahul/Data-Science-Visualization/refs/heads/main/ride_sharing_clean.csv')

In [ ]:
ride_sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   duration         25760 non-null  object
 1   station_A_id     25760 non-null  int64
 2   station_A_name   25760 non-null  object
 3   station_B_id     25760 non-null  int64
 4   station_B_name   25760 non-null  object
 5   bike_id          25760 non-null  int64
 6   user_type        25760 non-null  int64
 7   user_birth_year  25760 non-null  int64
 8   user_gender      25760 non-null  object
 9   tire_sizes       25760 non-null  int64
 10  ride_dt          25760 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.2+ MB

In [ ]:
ride_sharing.head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_sizes,ride_dt
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,27,2020-01-19
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,26,2018-10-24
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,26,2017-12-25
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,29,2026-10-14
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27,2019-01-29

In [ ]:
ride_sharing['user_type'] = ride_sharing['user_type'].astype(int)
ride_sharing['user_type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 25760 entries, 0 to 25759
Series name: user_type
Non-Null Count  Dtype
--------------  -----
25760 non-null  int64
dtypes: int64(1)
memory usage: 201.4 KB

In [ ]:
ride_sharing['user_type'].describe()

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

In [ ]:
ride_sharing['user_type'].astype('category')

0        2
1        2
2        3
3        1
4        2
        ..
25755    1
25756    2
25757    2
25758    2
25759    3
Name: user_type, Length: 25760, dtype: category
Categories (3, int64): [1, 2, 3]

In [ ]:
ride_sharing['duration'].dtype

dtype('O')

In [ ]:
duration_trim = ride_sharing['duration'].str.strip("minutes")

In [ ]:
ride_sharing['duration'] = duration_trim.astype('int')

In [ ]:
my_dict = {1:"for free ride",2:"for pay ride",3:"for monthly subscribe"}

In [ ]:
ride_sharing["new_user_type"] = ride_sharing['user_type'].map(my_dict)

In [ ]:
ride_sharing['new_user_type'].describe()

count            25760
unique               3
top       for pay ride
freq             12972
Name: new_user_type, dtype: object

In [ ]:
ride_sharing['duration'].mean()

np.float64(11.389052795031056)

In [ ]:
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype(int)

In [ ]:
ride_sharing['tire_sizes'].dtype

dtype('int64')

In [ ]:
ride_sharing['tire_sizes'].head()

0    27
1    26
2    26
3    29
4    27
Name: tire_sizes, dtype: int64

In [ ]:
ride_sharing['tire_sizes'] = ride_sharing.loc[ride_sharing['tire_sizes'] > 27]

ValueError: Columns must be same length as key