<a href="https://colab.research.google.com/github/kardocode/Begginer/blob/main/Programming_Assignment-04Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
stock_price =[150.25, 155.50, 152.00, 158.75, 160.10, 159.90, 161.50];

In [ ]:
stock_prices = pd.Series(stock_price,name="stock_prices")

In [ ]:
import numpy as np

In [ ]:
stock_price =np.array(stock_price);

In [ ]:
print(stock_price)

[150.25 155.5  152.   158.75 160.1  159.9  161.5 ]

In [ ]:
print(stock_prices.index)

RangeIndex(start=0, stop=7, step=1)

In [ ]:
daily_prices = pd.Series(stock_price,index=week,name="daily_prices")

In [ ]:
week =['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

In [ ]:
print(daily_prices.index)

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'],
      dtype='object')

In [ ]:
print(daily_prices["Wednesday"])

152.0

In [ ]:
print(daily_prices[:2])

Monday     150.25
Tuesday    155.50
Name: daily_prices, dtype: float64

In [ ]:
print(daily_prices.loc['Monday':'Friday'])

Monday       150.25
Tuesday      155.50
Wednesday    152.00
Thursday     158.75
Friday       160.10
Name: daily_prices, dtype: float64

In [ ]:
print(daily_prices[daily_prices>158.00])

Thursday    158.75
Friday      160.10
Saturday    159.90
Sunday      161.50
Name: daily_prices, dtype: float64

In [ ]:
dict={'P101': 75, 'P102': 120, 'P103': 50, 'P104': 90, 'P105': 15}

In [ ]:
gadget_inventory = pd.Series(dict,name="gadget_inventory")

In [ ]:
product_ID=gadget_inventory.index.tolist();
print(product_ID)

stock_counts = gadget_inventory.values.tolist();
print(stock_counts)
print(gadget_inventory.values.sum())

['P101', 'P102', 'P103', 'P104', 'P105']
[75, 120, 50, 90, 15]
350

In [ ]:
Low_stock = gadget_inventory[gadget_inventory < 60]
print(Low_stock)

P103    50
P105    15
Name: gadget_inventory, dtype: int64

In [ ]:
bill1 = pd.Series(gadget_inventory,name="bill1")
print(bill1)

P101     75
P102    120
P103     50
P104     90
P105     15
Name: bill1, dtype: int64

In [ ]:
sales_data = {
    'Product': ['Product A', 'Product B', 'Product C', 'Product D', 'Product E', 'Product F', 'Product G'],
    'Units Sold': [150, 120, 180, 95, 210, 140, 165],
    'Revenue ($)': [75000, 60000, 90000, 47500, 105000, 70000, 82500],
    'Marketing Spend ($)': [1000, 800, 1200, 600, 1500, 950, 1100]
}
print(sales_data)

{'Product': ['Product A', 'Product B', 'Product C', 'Product D', 'Product E', 'Product F', 'Product G'], 'Units Sold': [150, 120, 180, 95, 210, 140, 165], 'Revenue ($)': [75000, 60000, 90000, 47500, 105000, 70000, 82500], 'Marketing Spend ($)': [1000, 800, 1200, 600, 1500, 950, 1100]}